html {
  font-size: 62.5%;
  font-family: "proxima-nova",sans-serif;
  color: #777;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body
{
  width: 100%; 
  height: 100%;
  margin:0;
}

body {
  font-size: 1.4em /* equiv 14px */;
  line-height: 1.5;
  height: 100%;
  display: table;
}

* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
    color: white;
}

.header {
  background: #42403D;
  height: 340px;
  display:table-row;
  text-align: center;
}

.content {
  display:table-row;
}
.footer { 
  display : table-row;
  height: 30px;
  width: 100%;
  text-align: center;
}

.title {
  color:white;
}

.twitter-follow-button {
  margin-right: 20px;
}

.door, .locks-panel {
  position:relative;
  bottom:150px;
  text-align: center;
}


.locks {
  margin-bottom: 30px;
}

.door {
  background: #7eab55;
  margin:auto;
  width: 200px;
  height: 300px;
  cursor: pointer;
/*  -webkit-transform-origin: left;*/
}

.door.close {
  background: #dd4a38;
/*  -webkit-transform: rotateY(-90deg);
  transition: -webkit-transform .5s linear*/
}

.door:after {
  float:right;
  margin:145px 10px 0 0;
  content:'';
  display:block;
  width:10px;
  height: 10px;
  background: rgba(0,0,0,.25);
  border-radius: 50%;
}

.status {
  color:white;
  top: 138px;
  left:55px;
  position: relative;
  font-weight: 600;
}

.switch {
  color: #6f839a;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5em;
  border-radius: 3px;
  padding: .125em .5em;
  display: inline-block;
  background-color: #42403D;
  transition: .15s ease;
}

input[type="radio"]:checked + .switch {
  color: #fff;
  padding-left: 1em;
  padding-right: 1em;
}

input[type="radio"]:checked + .on {
  background-color: #7eab55;
}

input[type="radio"]:checked + .off {
  background-color: #dd4a38;
}

.btn {
  background-color:#42403D;
  border-radius: 3px;
  border:0;
  padding:.5em 1em;
  color: white;
  cursor: pointer;
  font-weight: 600;
}
